
{% extends "base.html" %}

{% block title %} 404 {% endblock %}

{% block content %}

<div class="row ">
    <div class="col-md-8 mx-auto">
        <h4 class="my-2">Помилка 404. Сторінку не знайдено.</h4>

    </div>
</div>

{% endblock %}