{% extends "base.html" %}

{% block title %} 500 {% endblock %}

{% block content %}

<div class="row ">
    <div class="col-md-8 mx-auto">
        <h4 class="my-2">Помилка 500. Помилка серверу.</h4>

    </div>
</div>

{% endblock %}