{% load static %}
{% url 'accounts:update' as update_url %}
{% url 'accounts:register' as register_url %}
{% url 'accounts:login' as login_url%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'favicon.ico' %} ">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %} ">
    <title>{% block title %}My amazing site{% endblock %}</title>
  </head>
  <body>
  <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #aaaaaa;">
      <a class="navbar-brand" href="{% url 'home' %}" id="brand">Job Finder</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">

          {% if user.is_authenticated %}
              <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:logout' %} ">Вийти</a>
            </li>
            <li class="nav-item {% if request.path == update_url %} active {% endif %} ">
              <a class="nav-link" href="{% url 'accounts:update' %} ">Профіль( {{ request.user.email }} )</a>
            </li>
          {% else %}
            <li class="nav-item {% if request.path == login_url %} active {% endif %}">
              <a class="nav-link" href="{% url 'accounts:login' %}">Увійти</a>
            </li>
          <li class="nav-item {% if request.path == register_url %} active {% endif %}">
              <a class="nav-link" href="{% url 'accounts:register' %}">Реєстрація</a>
            </li>
          {% endif %}

        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto my-3">
        {% if messages %}

              {% for message in messages %}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                       {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
              {% else %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                       {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
               {% endif %}


              {% endfor %}

          {% endif %}
      </div>
    </div>
  </div>
  <div class="container">
      {% block content %}{% endblock %}
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  </body>
</html>
