
{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block content %}

<div class="row ">
    <div class="col-md-8 mx-auto">
        <h4 class="my-2">Вітаємо нового користувача {{ new_user.email}}</h4>
        <p>Ви успішно зареєструвались у системі.
            Теперь ви можете <a href="{% url 'accounts:login' %} ">увійти.</a>
        </p>

    </div>
</div>

{% endblock %}