
{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block content %}

<div class="row ">
    <div class="col-md-8 mx-auto">
        <h4 class="my-2">Налаштування</h4>
    <form method="POST" action="">{% csrf_token %}
        <div class="form-group">
        {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Зберегти</button>
    </form>
    <form method="POST" action="{% url 'accounts:delete' %} ">{% csrf_token %}
        <button type="submit" class="btn btn-danger my-3">Видалити</button>
    </form>
    </div>
</div>

<div class="row my-5">
    <div class="col-md-8 mx-auto">
        <p class="my-2">Якщо Ви не знайшли відповідний набір Місто, Спеціальність,
             Ви можете заповнити форму нижче за Вашими побажаннями. Після того,
             як необхідні дані будуть додані, Ви отримаєте листа на вказаний Вам імейл.</p>
        <p>
            <button class="btn btn-success"
                    type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse_" aria-expanded="false"
                    aria-controls="collapseExample">
            Показати форму
            </button>
        </p>
        <div class="collapse" id="collapse_">
          <div class="card card-body">
              <form method="POST" action="{% url 'accounts:contact' %} ">{% csrf_token %}
                <div class="form-group">
                {{ contact_form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Надіслати</button>
              </form>
          </div>
        </div>

    </div>
</div>
{% endblock %}