
{% extends "base.html" %}

{% block title %} Job Finder {% endblock %}

{% block content %}
<div class="row">
    <div class="col-6 mx-auto">
    <div class="card my-3">
        <div class="card-body">
            <p class="card-text">
                 <form method="post"> {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary">Зберегти</button>
                </form>
            </p>
        </div>
    </div>
    </div>
</div>






{% endblock %}