{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="row">
    <div class="col"><h2 class=" text-center my-3">Сервіс зі збору та розсилки вакансій</h2>
    </div>
</div>
<div class="row ">
    <div class="col-md-8 mx-auto my-2">
        <p class="">
            Щодня ми аналізуємо сайти з вакансіями, згідно із налаштуваннями наших підписників.
            Усі відповідні вакансії, які були опубліковані на цих сайтах за останню добу,
            записуються до бази даних і розсилаються підписникам, відповідно до їх переваг.
            Ви можете переглядати актуальні вакансії, просто обравши необхідне місто чи спеціальність.
            Або ж, пройшовши нескладну <a href="{% url 'accounts:register' %}"> реєстрацію</a>,
            отримувати щодня листа зі списком нових вакансій за останню добу, відповідно до Ваших потреб.
        </p>
    <form method="GET" action="{% url 'list' %}">
        <div class="form-group">
        {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Пошук</button>
    </form>
    </div>
</div>

{% endblock %}