{% extends "base.html" %}

{% block title %} Job Finder {% endblock %}

{% block content %}




{% if object_list %}
 <h3 class="my-4 text-center">Результати пошуку згідно Вашого запиту.</h3>
    {% for obj in  object_list %}
        <div class="card my-3">
          <h5 class="card-header"><a href="{{ obj.url }}">{{ obj.title }}</a></h5>
          <div class="card-body">
             <p class="card-text">{{ obj.description }}</p>
              <p><strong>{{ obj.company }}</strong></p>
              <p>{{obj.city.name }} | {{obj.language.name }} |
                  <small>{{obj.timestamp|date:"d-m-Y" }}</small></p>

          </div>
        </div>
    {% endfor %}
        <div class="row">
            <div class="col">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                       {% if object_list.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?city={{city}}&language={{ language }}&page=1" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                      {% endif %}
                      {% for page in object_list.paginator.page_range %}
                          <li class="page-item {% if page == object_list.number %} active {% endif %}">
                              <a class="page-link" href="?city={{city}}&language={{ language }}&page={{page}}">{{page}}</a>
                          </li>
                      {% endfor %}
                      {% if object_list.has_next %}
                        <li class="page-item">
                          <a class="page-link" href="?city={{city}}&language={{ language }}&page={{ object_list.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      {% endif %}
                    </ul>
                </nav>



    <!--            <div class="pagination">-->
    <!--                <span class="step-links">-->
    <!--                    {% if object_list.has_previous %}-->
    <!--                        <a href="?city={{city}}&language={{ language }}&page=1">&laquo; first</a>-->
    <!--                        <a href="?city={{city}}&language={{ language }}&page={{ object_list.previous_page_number }}">previous</a>-->
    <!--                    {% endif %}-->

    <!--                    <span class="current">-->
    <!--                        Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.-->
    <!--                    </span>-->

    <!--                    {% if object_list.has_next %}-->
    <!--                        <a href="?city={{city}}&language={{ language }}&page={{ object_list.next_page_number }}">next</a>-->
    <!--                        <a href="?city={{city}}&language={{ language }}&page={{ object_list.paginator.num_pages }}">last &raquo;</a>-->
    <!--                    {% endif %}-->
    <!--                </span>-->
    <!--            </div>-->
            </div>
        </div>
{% else %}
        <h3 class="my-4 text-center">Нажаль, по Вашому запиту, нічого не знайдено.</h3>
{% endif %}
{{ page_obj }}
<div class="row ">
    <div class="col-md-6 mx-auto my-3">
        <h4 class="my-4 text-center">Новий пошук</h4>
    <form method="GET" action="{% url 'list' %}">
        <div class="form-group">
        {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Пошук</button>
    </form>
    </div>
</div>

{% endblock %}